<template name="projectsDetail">
    <div class="panel header">
        <div class="row">
            <div class="small-12 columns">
                <h1>{{project.title}}</h1>
                <p>{{project.description}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="wrapper small-12 columns">

            <section class="detail projects-detail">

                <div class="row">
                    <div class="wrapper small-6 columns">
                        <section class="list tasks-list panel">
                            <h2><small>{{i18n 'tasks'}}</small></h2>
                            <span><small>
                                {{project.tasksNum.open}} /
                                {{project.tasksNum.total}}
                            </small></span>
                            <dl>
                                {{#each tasks}}
                                    <dt>
                                        <h2>
                                            <small>
                                                <a href="/projects/{{project.slug}}/tasks">
                                                    {{subject}}
                                                </a>
                                            </small>
                                        </h2>
                                    </dt>
                                {{/each}}
                            </dl>
                        </section>
                    </div>

                    <div class="wrapper small-6 columns">
                        <section class="list tasks-list panel">
                            <h2><small>{{i18n 'members'}}</small></h2>
                            <span><small>
                                {{project.membersNum}}
                            </small></span>
                        </section>
                    </div>
                </div>

            </section>

        </div>
    </div>
</template>