body, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Cabin', sans-serif;
    .list {
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.tasks-list {
    ul {
        h3 {
            display: inline-block;
        }
    }
}

.footer {
    margin-bottom: 0;
}

