body, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Cabin', sans-serif;
    .list {
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

#login-form {
    button {
        width: 100%;
    }
}

.projects-list {
    h2, h3 {
        display: inline-block;
    }
}

.tasks-list {
    ul {
        h3 {
            display: inline-block;
        }
    }
}

.footer {
    margin-bottom: 0;
}

