/* line 1, ../sass/styles.scss */
body, h1, h2, h3, h4, h5, h6, a {
  font-family: 'Cabin', sans-serif;
}
/* line 4, ../sass/styles.scss */
body .list a, h1 .list a, h2 .list a, h3 .list a, h4 .list a, h5 .list a, h6 .list a, a .list a {
  text-decoration: underline;
}
/* line 6, ../sass/styles.scss */
body .list a:hover, h1 .list a:hover, h2 .list a:hover, h3 .list a:hover, h4 .list a:hover, h5 .list a:hover, h6 .list a:hover, a .list a:hover {
  text-decoration: none;
}

/* line 14, ../sass/styles.scss */
#login-form button {
  width: 100%;
}

/* line 21, ../sass/styles.scss */
.tasks-list ul h3 {
  display: inline-block;
}

/* line 27, ../sass/styles.scss */
.footer {
  margin-bottom: 0;
}
