<template name="topMenu">
    <div class="fixed">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{{pathFor 'homepage'}}">{{i18n 'hyaku'}}</a></h1>
                </li>
                {{# if currentUser}}
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li>
                {{/if}}
            </ul>

            {{# if currentUser}}
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                  <li class="has-dropdown">
                    <a href="#">user@mail.com</a>
                    <ul class="dropdown">
                      <li><a href="#">{{i18n 'settings'}}</a></li>
                      <li class="divider"></li>
                      <li><a href="#" id="logout">{{i18n 'logout'}}</a></li>
                    </ul>
                  </li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                  <li><a href="{{pathFor 'homepage'}}">{{i18n 'dashboard'}}</a></li>
                  <li><a href="{{pathFor 'projectsList'}}">{{i18n 'projects'}}</a></li>
                  <li><a href="{{pathFor 'usersList'}}">{{i18n 'users'}}</a></li>
                </ul>
            </section>
            {{/if}}
        </nav>
    </div>
</template>